<form method="post" action="/install">
  <label>
    Orderdesk API key
    <input name="api_key" type="text" />
  </label>
  <br>
  <label>
    Orderdesk Store ID
    <input name="store_id" type="text" />
  </label>

  <input type="submit">
</form>
